<footer class="footer">
    <div class="footer-social-container">
        <a href="https://www.instagram.com/galileisnao/" target="_blank"><img src="../../../../assets/icons/instagram.svg"
                alt="instagram logo"></a>
        <a href="https://www.tiktok.com/@galileisnao" target="_blank"><img src="../../../../assets/icons/tiktok.svg"
                alt="tiktok logo"></a>
        <a href="https://github.com/GalileiIsNao-2024" target="_blank"><img src="../../../../assets/icons/github.svg"
                alt="github logo"></a>
    </div>
    <div class="footer-copy">©<span class="footer-date"></span> GalileiIsNao</div>
</footer>