.footer {
    background: #616161;
    padding: 50px 0;
    text-align: center;
}

.footer * {
    box-sizing: border-box;
}

.footer-social-container a img {
    width: 20px;
    height: auto;
    margin: 12px;
}

.footer-copy,
.footer-date {
    color: #fff;
}