<app-header theme="white"></app-header>

<div class="hero">
    <div class="hero__content reveal">
        <p class="intro-text">Gali Project</p>
        <h1 class="big-text">GalileiIsNao</h1>
        <a href="mailto:galileisnao21@gmail.com" class="button">Contattaci</a>
    </div>
</div>



<div class="poster mt-3">
    <div class="poster__img reveal">
        <img src="../../../../assets/img/team.webp" alt="">
    </div>
    <div class="poster__content reveal">
        <h3 class="big-text">Chi siamo</h3>
        <p>
            Dieci ragazzi che frequentano l'<a href="https://www.galileimirandola.edu.it/" target="_blank">ISS G. Galilei di Mirandola (MO) </a>: Andrea, Filippo, Mia, Alessandro, Martin, Eleonora, Francesco, Giuseppe, Giovanni. Grazie al prof. Alberto
            Michelini, abbiamo avuto la possibilità di entrare nel vasto mondo della robotica.
        </p>
        <a routerLink="#team" class="button">Team</a>
    </div>
</div>

<div class="grid mt-3" id="team">
    <div class="col reveal">
        <h3 class="big-text">Il team Nao </h3>
    </div>
</div>

<div class="main-carousel">
    <div class="carousel-cell" *ngFor="let component of components">
        <a *ngIf="component['link']" href="{{component['link']}}" target="_blank" class="carousel-cell__content" [ngStyle]="{backgroundImage: 'url(../../../../assets/avatars/' + component['image'] + ')', backgroundColor: component['color']}">
            {{component["name"]}}
        </a>
        <div *ngIf="!component['link']" class="carousel-cell__content" [ngStyle]="{backgroundImage: 'url(../../../../assets/avatars/' + component['image'] + ')', backgroundColor: component['color']}">
            {{component["name"]}}
        </div>
    </div>
</div>


<div class="poster mt-3">

    <div class="poster__content reveal">
        <h3 class="big-text">Il nostro partner</h3>
        <p>
            Il progetto di quest'anno è sponsorizzato dal circolo scacchistico Club 64. Offre un ambiente accogliente per giocatori di tutti i livelli, con attività che spaziano da partite amatoriali a tornei ufficiali. Organizza corsi di formazione, eventi tematici e incontri settimanali per appassionati. Il club si impegna a diffondere la cultura scacchistica e a favorire lo sviluppo delle abilità strategiche e logiche dei suoi membri.
        </p>
        <a href="https://www.club64.it" class="button" target="_blank">Club 64</a>
    </div>

    <div class="poster__img  reveal">
        <img src="../../../../assets/img/logoclub64.png" alt=""> <!-- 1051 x 563 -->
    </div>

</div>

<div class="panel-blue mt-3" id="projects">
    <div class="grid">
        <div class="col panel-blue__dots">
            <div class="dot zoom"
                style="background: url(../../../../assets/img/prj-1.jpg) no-repeat center center; background-size: cover;"></div>
            <div class="dot zoom"
                style="background: url(../../../../assets/img/prj-2.jpg) no-repeat center center; background-size: cover;"></div>
            <div class="dot zoom"
                style="background: url(../../../../assets/img/prj-3.jpg) no-repeat center center; background-size: cover;"></div>
                <div class="dot zoom"
                style="background: url(../../../../assets/img/prj-4.jpg) no-repeat center center; background-size: cover;"></div>
        </div>
        <div class="col panel-blue__text">
            <div class="grid">
                <div class="col reveal">
                    <h3 class="big-text tw">Progetti</h3>
                </div>
                <div class="col reveal mt-sma-0">
                    <p class="tw mt-2 text-secondary">
                        NAO è un robot umanoide che vede e sente grazie a due videocamere,
                        quattro
                        microfoni direzionali e due altoparlanti. Inoltre è provvisto di sensori tattili. Per
                        programmarlo
                        utilizziamo il software "Choregraphe": un ambiente di programmazione a blocchi.
                    </p>
                    <a routerLink="/competitions" class="button">See more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>